.dtime-tbar {
  background-color: #106cc8;
}
.dtime-control {
  margin: 60px 4px 40px 10px;
  background-color: #fafafa;
}
.dpicker {
  margin: 20px 2px 20px 2px;
  padding: 4px;
  background-color: #fafafa;
}
.tpicker {
  margin: 20px 2px 20px 2px;
  padding: 4px;
  background-color: #fafafa;
}

.dvr-viewer {
		margin: 10px;
}

.test3 {
  padding: 4px;
  background-color: #aaaaaa;
}

.tpicker {
  padding:8px;
}
.dpicker {
  padding: 8px;
}
.videobox {
  max-width: 720px;
}
