<!DOCTYPE html>
<html lang="en" ng-app="Sentinel">
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<title>Sentinel</title>
		
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<link rel="stylesheet" href="lib/angular-material/angular-material.min.css"
		<link rel="stylesheet" href="lib/md-date-picker/dist/md-date-picker.min.css">
		<link rel="stylesheet" href="lib/angular-material-time-picker/dist/md-time-picker.css">
		<link rel="stylesheet" href="lib/plyr/dist/plyr.css">

		<script src="lib/moment/min/moment.min.js"></script>
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular-animate/angular-animate.min.js"></script>
		<script src="lib/angular-messages/angular-messages.min.js"></script>
		<script src="lib/angular-aria/angular-aria.min.js"></script>
		<script src="lib/angular-material/angular-material.min.js"></script>
		<script src="lib/md-date-picker/dist/md-date-picker.min.js"></script>
		<script src="lib/plyr/dist/plyr.js"></script>

		<script src="js/md-time-picker.js"></script>
		<link rel="stylesheet" href="css/main.css">
		
	</head>
	
	<body>
		
		<div ng-cloak="" class="tabsdemoDynamicHeight" ng-app="Sentinel">
			<div class="viewer" ng-controller="videoBrowser">
				<md-toolbar class="md-whiteframe-1dp">
					<div class="md-toolbar-tools">
						<div class="md-title">Video Recording Viewer</div>
					</div>
				</md-toolbar>
				
				<div layout="column" layout-gt-xs="row">
					<div flex-gt-xs="30" class="dtime-control">
						
						<div layout="column">
							
							<div flex="" class="dpicker">
								<md-datepicker
									ng-model="vDate"
									ng-change="dtChange()"
									md-min-date="minDate"
									md-max-date="maxDate"
									md-placeholder="Enter date">
								</md-datepicker>
							</div>
							
							<div flex="" class="tpicker">
								<md-time-picker
									ng-model="vTime"
									ng-change="dtChange()" no-meridiem no-auto-switch>
								</md-time-picker>
							</div>
						</div>
						
					</div>
					
					<div netcams flex-gt-xs="70" class="dvr-viewer">
						<netcams-list></netcams-list>
					</div>

				</div>
			</div>
		</div>

		<script src="js/app.js"></script>
		
	</body>
</html>
